{
  "extends": "react-app",
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "padding-line-between-statements": [
      "warn",
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": "function", "next": "*" }
    ],
    "react/prop-types": ["off"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "linebreak-style": ["warn", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-console": ["warn", { "allow": ["info", "error"] }],
    "arrow-parens": ["error", "always"]
  }
}
